# Deepstate MM bot config
DEEPSTATE_PRIVATE_KEY=0xyour_private_key_here
DEEPSTATE_RPC_URL=https://rpc.mainnet.chain.robinhood.com
DEEPSTATE_MID_PRICE=125.0
DEEPSTATE_SPREAD=0.005
DEEPSTATE_INTERVAL=30
DEEPSTATE_BID_QTY=1000000
DEEPSTATE_ASK_QTY=1000000000000000000
